1  1
?
  10'P
  ?
    20'P
  :
    30'P
  ;
:
  40'P
  ?
    50'P
  :
    60'P
  ;
;

1~ 1
?
  10'P
  ?
    20'P
  :
    30'P
  ;
:
  40'P
  ?
    50'P
  :
    60'P
  ;
;

1  1~
?
  10'P
  ?
    20'P
  :
    30'P
  ;
:
  40'P
  ?
    50'P
  :
    60'P
  ;
;

1~ 1~
?
  10'P
  ?
    20'P
  :
    30'P
  ;
:
  40'P
  ?
    50'P
  :
    60'P
  ;
;
